/* sets some colour variables */
:root {
  --violet: #87677B;
  --celadon: #B4EDD2;
}

/* sets the scrolling to smooth scrolling, so that clicking links scrolls the page down nicely, also sets basic font family*/
* {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
  }

  /* background colour for the page */
body{
  background-color: #EFFBF5;
}

/* Header Section */
/* sets the header container size, colours and sets as flex container */
header {
    padding: 20px;
    display: flex;
    background: #A0CFD3;
    color: var(--violet);
  }

/* sets the styling for header 1, sets the postion and adds a background and padding */
h1 {
  font-size: 250%;
  margin: auto 0px auto 5%;
  background-color: var(--celadon);
  padding: 1rem;
  }

/* sets the positioning of the avatar image */
#avatar {
    margin-left: 2%;
    max-width: 100px;
    max-height: 120px;
 }

/* sets the positioning of the nav bar element */
nav {
    margin: auto 20px auto auto;
 }

/* sets the flex property of the lists used on the side and positioning */
li {
  display: inline-flex;
  margin-left: 50px;
  }

/* Sets the styling for the text anchors in the header and 'contact me' section,
sets the z-index for the anchor so the a::after box goes behind the text. */
li a{
  text-decoration: none;
  position: relative;
  color: var(--violet);
  padding: 10px 10px 5px ;
  font-size: 28px;
  border-bottom: 5px solid var(--celadon);
  z-index: 1;
  }

/* creates the background box for the anchor links and sets the transition property */
li a::after{
  background-color: var(--celadon);
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  transition: all .5s ease-in-out;
  z-index: -1;
  }

/* Makes the background box created in li a::after (above) grow to full height when hovered over */
li a:hover::after{
  height: 100%;
  }

/* Changes the colour of the anchors when pressed */
li a:active {
  color: chocolate;    
 }

/* Banner image to break up the header and body */
#banner {
  height: 162px;
  width: 100%;
  background-image: url(../img/Banner.png);
  background-position: center;
 }

/* Main Section */

/* about me section. */
/* Creates a flex container to hold the header and the content. */
#about-Me {
  display: flex;
}

/* Sets the styling and sizing for the header 2s on the page. */
h2 {
  padding-right: 0.5%;
  display: block;
  font-size: 200%;
  border-right: 10px solid var(--violet);
  margin: 1% 1% 1%  auto;
  color: var(--violet);
}

/* sets the size for the p element in the about me section */
#about-Me p {
  display: block;
  width: 75%;
  padding: 1rem 5rem;
}

/* the 'My Work' Section */
/* sets the section to be flex */
#my-Work {
  display: flex;
}

/* sets the main and sub cardsto stack as a column, and sets the amount of screen width to take up */
.card-container { 
  display: flex;
  flex-direction: column;
  width: 75%;
  padding: 1rem 5rem;
}

/* sets the size, outline and margin for the project images and aboslute positioned items to sit nicely on top */
.main-card, .card {
  position: relative;
  outline: var(--violet) solid .5rem;
  margin: 1.5%;
}

/* sets the container properties to allow flex items */
.sub-container {
  display: flex;
}

/* Sets the positioning for the image description box floating ontop of each .card image, and the box size/colour and font colour */
.main-header, .sub-header {
  position: absolute;
  bottom: 10%;
  left: 0;
  padding: 20px;
  background-color: var(--violet);
  z-index: 2;
  color: #fff;
  font-size: 20px;
}

/* puts a semi transparent colour over the top of the project images and sets the transirtion properties */
.main-card::after, .card::after {
  content: '';
  position: absolute;
  top: 0;
  background-color: #87677Bb0;
  display: block;
  height: 100%;
  width: 100%;
  transition: all .5s ease-in-out;
}

/* removes the semi transparent colour when hovering over the image/link */
.main-card:hover::after, .card:hover::after {
  background-color: #9a7aa000;
}

/* makes the image fill up the anchor box fully */
a img{
  width: 100%;
}


/* Contact Me Section */
#contact-Me{
  display:flex;

}

#contact-Me h2, ul {
  display: block;
}

#contact-Me ul{
  width: 75%;
  display: block;
  padding: 1rem 5rem;
  justify-content: space-between;
}
.links {

}

/* changes the flex wrap type and width of sections to work better for phone displays.
Makes it a column style on the page. */
@media screen and (max-width: 768px) {
  Header {
    display: flex;
    flex-direction: column;
  }
  #avatar{
    margin: 1% auto;
  }
  h2 {
    margin: 1% auto;
  }
  nav ul{
    margin: 1% auto;
  }
  #about-Me {
    flex-direction: column;
    display: flex;
  }
  #about-Me p {
    display: block;
    width: 100%;
    padding: 15px 20px;
  }
  #my-Work {
    display: flex;
    flex-wrap: wrap;
  }
  .card-container {
    display: flex;
    width: 100%;
    padding: 15px 20px;
  }
  
  .sub-container {
    flex-wrap: wrap;
    width: 100%;
  }
  .card{
    margin: 5%;
    flex: 1 1 40%;
  }
  #contact-Me{
    display: flex;
    flex-wrap: wrap;
  }
  #contact-Me ul{
    margin-left: -5%;
    width: 100%;

  }
  .links {
    font-size: 20px;
    padding-top: 5px;
    margin-left: 0;
  }
  .links a{
    font-size: 20px;
  }
} 